@import "../variables";
@import "./header";

.home-page {
  padding: 30px 0;
  h1 {
    text-align: center;
  }
}

.login {
  padding: 30px;
  position: relative;
  &__button {
    text-align: right;
  }
  .input {
    margin-bottom: 10px;
  }
  &__title {
    text-align: center;
    margin-bottom: 15px;
  }
}

.news-page {
  &__add-btn {
    text-align: right;
    padding-right: 20px;
  }
  &__add-form {
    padding: 30px;
    input {
      margin-bottom: 10px;
    }
    textarea {
      width: 100%;
      height: 80px;
      resize: none;
      padding: 10px;
      border-color: gray;
      opacity: 0.7;
      margin-bottom: 10px;
    }
  }
}

.news-header {
  display: flex;
  justify-content: space-between;
  padding: 15px;

  &__search {
    flex: 0.3;
    @media screen and (max-width: 720px) {
      flex: 0.6;
    }
    input {
      width: 100%;
      background-color: #fff;
    }
  }
}

.news {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.news-item {
  width: 45%;
  margin: 15px 15px 30px;
  border: 1px solid $black;
  border-radius: 5px;
  padding: 30px;
  background-color: $azure;
  box-shadow: 4px 4px 8px 0px rgba(34, 60, 80, 0.2);
  @media screen and (max-width: 720px) {
    width: 100%;
  }
  &__title {
    margin-bottom: 20px;
  }
  &__text {
    margin-bottom: 15px;
  }
  &__date {
    font-weight: bold;
  }

  &__btns {
    padding: 20px 0;
    button {
      margin-right: 10px;
    }
  }
}
