@import "../variables";

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 0;
  border-bottom: 1px solid gray;
  margin-bottom: 10px;

  button {
    border: none;
    background: none;
    box-shadow: none;
  }
}
